{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object
  - variant: {Object} Specific variant to add to cart
  - lcp_image: {Boolean} Have critic image url. Default is false

  Usage:
  {% render 'product-card'
    product: product
  %}
{% endcomment %}

{% liquid
  assign current_variant = product.selected_or_first_available_variant
  if variant != blank
    assign current_variant = variant
  endif
  assign image_feature = product.featured_image | image_url: width: 400
  assign image_second = product.images[1] | image_url: width: 400
  assign image_first = product.images[1]

  assign collection_class_name = ''
  if product.metafields.custom.iscollection.value
    assign collection_class_name = 'product-card__collection'
  endif

%}

<card-product class="product-card product-js {{ collection_class_name }}"

  {% if product.metafields.custom.bg_img.value != blank %}
    style="background: red"
  {% endif %}
>


  <a
    title="{{ product.title }}"
    class="product-card__head"
    href="{{ product.url }}"
  >
    <div class="product-card__head-images">,
      {% unless product.images[1] %}
        {% assign image_first = product.featured_image %}
        {% assign image_second = image_feature %}
      {% endunless %}

      {% render "render-image"
        class: "product-image-2",
        img_src: image_second,
        img: image_first,
        size: "110 150 300 400",
        alt: product.title,
        title: product.title,
        width: "100",
        height: "100"
      %}

      {% if lcp_image %}
        <img
          class="product-image-1"
          src="{{ image_feature }}"
          alt="{{ product.title }}"
          width="100"
          height="100"
        />
      {% else %} 
        {% render "render-image"
          class: "product-image-1",
          img_src: image_feature,
          img: product.featured_image,
          size: "110 150 300 400",
          alt: product.title,
          title: product.title,
          width: "100",
          height: "100"
        %}
      {% endif %}
    </div>
    <div class="product-card__head-info">
      <strong>
        {{ product.title }}
      </strong>

      {% render 'price'
        hide_price: hide_price
        compare_at_price: current_variant.compare_at_price,
        price: current_variant.price
      %}
    </div>
  </a>
</card-product>
